body {
  font-family: sans-serif;
  text-align: center;
  background-color: #121212;
  color: #eee;
  margin: 0;
  padding: 2rem;
}
button {
  margin: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
input {
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 10px;
}